MONGODB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=accountability_db
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
SECRET_KEY=a_secure_random_string
LLM_PROVIDER=gemini
GEMINI_API_KEY=your_gemini_api_key
TELEGRAM_BOT_TOKEN=8966691285:AAFmv7KiUaxejC5nI2nrTJ5tlaFqHb8iAJs
TELEGRAM_CHAT_ID=5662840891
